<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<head>
  <style>
    .center {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 5px solid red;
      padding: 10px;
    }
  </style>
</head>

<body class="container">
  <header>
    <%- include('../../partials/default_header'); %>
  </header>

  <main>
    <div style="padding: 20px;" id="container" class="jumbotron">
      <h5 style="color: black;">
        Instructor Username: <%= locals.username%>
      </h5>

      <div class="w3-container">
        <div class="w3-show-inline-block">
          <div class="w3-bar">
            <form method="post" action="/dbManager/updateInstructor">
              <p>
                <label for="title">New Title:</label>
                <input type="text" name="title" id="title">
                <input type="hidden" name="username" id="username" , value="<%= locals.username%>">
              </p>
              <button type="submit">Update</button>
            </form>
            <form style="padding-top:10px" method="get" action="/dbManager/instructor">
              <input type="hidden" name="username" value=<%=locals.username%> />
              <button type="submit">Back</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <% if(locals.resultMessage) { %>
      <div class="center" role="alert" style="align-items: center;">
        <%= '! ' + resultMessage + ' !' %>
      </div>
      <% } %>
  </main>
</body>

</html>